@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#githubIcon {
  transition: color 300ms;
}

#githubIcon:hover {
  color: black !important;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  align-items: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  align-items: center;
}
